body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.fg_pass {
    max-width: 500px;
    background-color: white;
    margin: auto;
    padding: 0 15px;
    margin-top: 50px;
    border-radius: 10px;
}

.fg_pass h2 {
    color: #555;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    margin: 50px 0;
    letter-spacing: 1.3px;
}

.fg_pass .row {
    max-width: 500px;
    margin: auto;
    padding: 0 10px;
}

.fg_pass .row input {
    width: 100%;
    height: 45px;
    outline: none;
    border: 1px solid #ccc;
    padding: 0 15px;
    border-radius: 3px;
    margin: 5px 0;
}

.fg_pass .row button {
    background: blue;
    color: white;
    padding: 10px 0px;
    margin-top: 15px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    border-radius: 3px;
}

.fg_pass .logo {
    text-align: center;
}