.login-page {
    max-width: 500px;
    margin: auto;
    color: #444;
    background-color: whitesmoke;
    padding: 0 15px;
    justify-content: center;
    margin-top: 100px;
    background-image: url();
    border-radius: 10px;
}

.login-page h2 {
    text-transform: uppercase;
    font-size: 2rem;
    margin: 20px 0;
    letter-spacing: 1.5px;
}

.login-page input {
    width: 100%;
    height: 45px;
    margin: 10px 0;
    border: 2px solid #777;
    outline: none;
    padding: 0 10px;
}

.login-page .row {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    justify-content: space-between;
}

.login-page .row button {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    background: rgb(53, 53, 233);
    color: white;
    text-transform: uppercase;
}

.login-page .row a {
    color: blue;
    padding: 10px 0;
    margin: 10px 0;
}

.login-page .logo {
    text-align: center;
}